[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.21.0"
pytest-httpserver = "*"
pytest = "*"
prometheus-client = "*"

[dev-packages]

[requires]
python_version = "3.6"
